body {
    background: #f5f8fd;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
}


/*---------------------------------------
Typorgraphy              
-----------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

h3,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 40px;
    letter-spacing: 2px;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
}

h3 {
    line-height: 36px;
}

h5 {
    letter-spacing: 1px;
    padding-top: 10px;
}

p {
    color: #707070;
    font-size: 14px;
    line-height: 24px;
    font-size: 20px;
}

ol,
ul {
    color: #707070;
    font-size: 14px;
    line-height: 24px;
    padding-left: 4%;
    font-size: 20px;
    font-weight: 600;
}

a {
    text-decoration: none !important;
    outline: none;
}


/*---------------------------------------
General               
-----------------------------------------*/
.section-title {
    margin-bottom: 32px;
}

#overview,
#register {
    padding-top: 14rem;
    padding-bottom: 14rem;
}

#detail,
#program,
#contact,
footer {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#detail,
footer {
    text-align: center;
}

#overview h3,
#detail h3,
#register h3,
#contact h3 {
    padding-bottom: 12px;
}

#intro .btn,
#contact .btn {
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 0px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 14px 42px;
    margin-top: 42px;
    margin-right: 12px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#intro .btn-danger,
#contact .btn-danger {
    background: #f2545f;
    border-color: transparent;
}

#contact .btn {
    border-radius: 100px;
}

#intro .btn-danger:hover {
    background: transparent;
    border-color: #ffffff;
    color: #ffffff;
}

#contact .btn-danger:hover {
    background: #222;
}

#intro .btn-default:hover {
    background: #ffffff;
    color: #333333;
    border-color: transparent;
}

.parallax-section {
    background-attachment: fixed !important;
    background-size: cover !important;
}



/*---------------------------------------
Preloader section              
-----------------------------------------*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
}

.sk-rotating-plane {
    width: 50px;
    height: 50px;
    background-color: #222;
    -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
    animation: sk-rotatePlane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotatePlane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@keyframes sk-rotatePlane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}



/*---------------------------------------
Navigation Links section              
-----------------------------------------*/
.custom-navbar {
    margin-bottom: 0;
    background-color: #101010;
}

.custom-navbar .navbar-brand {
    color: #ffffff;
    font-weight: 600;
    font-size: 3rem;
    line-height: 40px;
}

.custom-navbar .nav li a {
    color: #ddd;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    line-height: 40px;
    transition: all 0.4s ease-in-out;
}

.custom-navbar .nav li a:hover {
    background: #101010;
    color: #66ccff;
}

.custom-navbar .navbar-nav>li>a:hover,
.custom-navbar .navbar-nav>li>a:focus {
    background-color: #000000;
}

.custom-navbar .nav li.active>a {
    background-color: #101010;
    color: #66ccff;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
    background-color: #101010;
}

.custom-navbar .navbar-toggle {
    background-color: #101010;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #101010;
    border-color: transparent;
}

@media(min-width:768px) {
    .custom-navbar {
        padding: 1px 0;
        border-bottom: 0;
        background: 0 0;
        background: #101010;
    }

    .custom-navbar.top-nav-collapse {
        background: #101010;
        padding: 0;
    }

}

/*---------------------------------------
Contact section              
-----------------------------------------*/
#contact {
    background: url('../images/contact-bg.jpg') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
    font-weight: 600;
    font-size: 20px;
    background-color: transparent;
    margin-left: -1.5%;
    margin-top: -20%;
}

#contact h1 {
    margin-top: -30%;
    margin-left: -5%;

}

#contact .contact_des {
    padding-top: 3rem;
    padding-right: 2rem;
}

#contact .contact_detail {
    background: transparent;
    padding: 5rem 5rem 12rem 5rem;
}

#contact .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 16px;
    transition: all 0.4s ease-in-out;
}



#contact .form-control:focus {
    border-bottom-color: #999;
}

#contact input {
    height: 45px;
}

#contact input[type="submit"] {
    background: #222;
    border-radius: 100px;
    border: none;
    color: #ffffff;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 12px;
    transition: all 0.4s ease-in-out;
}

#contact input[type="submit"]:hover {
    background: #f2545f;
}



/*---------------------------------------
Footer section              
-----------------------------------------*/
footer {
    padding-top: 40%;
    margin-left: 0;
    background-attachment: fixed;
}



/* Back top */
.go-top {
    background-color: #222;
    bottom: 2em;
    right: 2em;
    color: #ffffff;
    font-size: 32px;
    display: none;
    position: fixed;
    text-decoration: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    transition: all 0.4s ease-in-out;
}

.go-top:hover {
    background: #f2545f;
    color: #ffffff;
}


/*---------------------------------------
Social icon             
-----------------------------------------*/
.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: #666;
    border-radius: 100px;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}

.social-icon li a:hover {
    background: #f2545f;
    color: #ffffff;
}



/*---------------------------------------
Responsive styles            
-----------------------------------------*/
@media (max-width: 980px) {

    p {
        font-size: 13px;
    }

    .custom-navbar .navbar-brand {
        font-size: 2rem;
    }

    .custom-navbar .nav li a {
        font-size: 11px;
        line-height: 20px;
    }


    #contact .contact_detail {
        background: #ffffff;
        padding: 10rem 3rem 10rem 5rem;
    }

}

@media (max-width: 768px) {

    .custom-navbar .navbar-brand {
        line-height: 20px;
    }

    #overview img,
    #detail .col-md-4,
    #register form {
        padding-top: 32px;
    }

    .nav-tabs>li>a {
        font-size: 13px;
    }

    #program img {
        padding-bottom: 32px;
    }


    #contact .contact_detail {
        margin-top: 82px;
    }

}

@media (max-width: 760px) {

    #intro {
        height: 100vh;
    }

}

/* -----------------------------------
rolex sample
-------------------------------------*/

.title {

    padding: 2%;
    margin-left: 40%;
    margin-top: 7%;

}

/*===============DESCRIPTION===============*/
section {
    padding: 60px 0;
    overflow: hidden;
    font-family: 'Poppins';
    margin-top: -5%;
}


.description-bg {
    background: #f5f8fd;
}

.description-title {
    padding-bottom: 30px;
    font-family: 'Poppins';
}

.description-title h2 {
    font-size: 20px;
    font-weight: 600;
    padding: 1cm;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
}

.description-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 3;
}

.description-title p {
    font-weight: 600;
    padding: 1cm;
    font-size: 20px;
    margin-bottom: 0;
}



/*===============DETAILS===============*/
section {
    padding: 60px 0;
    overflow: hidden;
    font-family: 'Poppins';
    margin-top: -5%;
    padding-bottom: -5%;
}


.details-bg {
    background: #f5f8fd;
}

.details-title {
    padding-bottom: 30px;
    font-family: 'Poppins';
}

.details-title h2 {
    font-size: 20px;
    font-weight: 600;
    padding: 1cm;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
}

.details-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 3;
}

.details-title p {
    font-weight: 600;
    padding: 1cm;
    font-size: 20px;
    margin-bottom: 0;
}

.applynow {
    padding: 1cm;
}

.logo {
    margin-left: 45%;
    margin-top: -5%;

}

/*=======Image sllider======*/
* {
    box-sizing: border-box;
}


.mySlides {
    display: none
}

.rolex-photos {
    vertical-align: middle;
    height: 500px;
    border-radius: 10px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 10px;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(103, 94, 94);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #202124;
}

.fade {
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 500s;
    animation-name: fade-in;
    animation-duration: 500s;
}

@-webkit-keyframes fade-in {
    from {
        opacity: 1
    }

    to {
        opacity: 1
    }
}

@keyframes fade-in {
    from {
        opacity: 1
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.credit {
    text-align: center;
    color: #202124;
    padding-top: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contact_detail h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
}

.contact_detail h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 3;
}